IMG {
	ms-interpolation-mode: bicubic
}
.blog-body {
	
}
.blog-sidebar-separator {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#blog-title {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; FONT-FAMILY: 'Lucida Grande',  'Lucida Sans Unicode', Verdana, Sans-Serif
}
#blog-title A {
	TEXT-DECORATION: none
}
#blog-title A:hover {
	COLOR: #68f; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#blog-title-link {
	DISPLAY: block
}
#blog-date {
	PADDING-LEFT: 0px; FONT-SIZE: 13px; FLOAT: left
}
#blog-content {
	CLEAR: both; MARGIN-BOTTOM: 15px; TEXT-ALIGN: justify
}
#blog-content UL {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 25px; PADDING-TOP: 25px
}
#blog-separator {
	CLEAR: both; MARGIN-TOP: 0px; FONT-SIZE: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 2px
}
#blog-author {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fbfbfb; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; PADDING-TOP: 0px; BORDER-BOTTOM: #f9f9f9 1px solid
}
#blog-comments {
	FONT-SIZE: 13px; FLOAT: right; MARGIN: 0px
}
#blog-post-title {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: 'Lucida Grande',  'Lucida Sans Unicode', Verdana, Sans-Serif
}
.blog-sidebar {
	WIDTH: 215px
}
.column-blog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px
}
#weeblyform {
	LINE-HEIGHT: 16px
}
#weeblyform TEXTAREA {
	BORDER-RIGHT: #abadb3 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #abadb3 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 13px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; BORDER-LEFT: #abadb3 1px solid; WIDTH: 300px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 2px; BORDER-BOTTOM: #abadb3 1px solid; FONT-FAMILY: "Lucida Grande",Tahoma,Arial,sans-serif; HEIGHT: 140px
}
#weeblyform .formfield {
	MARGIN: 5px 0px
}
#weeblyform LABEL.field {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; FONT-FAMILY: "Lucida Grande",Tahoma,Arial,sans-serif
}
#weeblyform INPUT.text {
	BORDER-RIGHT: #abadb3 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #abadb3 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 13px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; BORDER-LEFT: #abadb3 1px solid; WIDTH: 175px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #abadb3 1px solid; FONT-FAMILY: "Lucida Grande",Tahoma,Arial,sans-serif
}
#weeblyform INPUT.button {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
#commentAreaTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 20px; PADDING-TOP: 0px
}
#commentArea .blogCommentWrap .blogCommentDate P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#commentArea .blogCommentWrap .blogCommentAuthor P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#commentArea .blogCommentWrap .blogCommentDate P {
	PADDING-BOTTOM: 15px
}
#commentArea .blogCommentWrap .blogCommentText P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.blogCommentAuthor {
	DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(http://images.weebly.com/weebly/images/commenticon.gif) no-repeat left center; FLOAT: left
}
.blogCommentPro .blogCommentAuthor {
	BACKGROUND: url(http://images.weebly.com/weebly/images/commenticon-pro.gif) no-repeat left center
}
.blogCommentDate {
	DISPLAY: block; FLOAT: right; FONT-STYLE: italic; TEXT-ALIGN: right
}
.blogCommentText {
	CLEAR: both; OVERFLOW: hidden
}
P.blogCommentText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.blogCommentBorder {
	DISPLAY: none
}
.blogCommentWrap {
	PADDING-RIGHT: 10px; MARGIN-TOP: 15px; PADDING-LEFT: 10px; PADDING-BOTTOM: 15px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px dotted
}
DIV.blogCommentOwner {
	BORDER-RIGHT: #a7c3d9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #a7c3d9 1px solid; PADDING-LEFT: 10px; BACKGROUND: #e6f0f9; PADDING-BOTTOM: 10px; MARGIN: -1px 0px 15px; BORDER-LEFT: #a7c3d9 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #a7c3d9 1px solid
}
DIV.blogCommentOwner P {
	COLOR: #000
}
DIV.blogCommentOwner P A {
	COLOR: #ea6420
}
#commentPostArea {
	FONT-SIZE: 12px; FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
#lightbox {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 2px solid; BACKGROUND-COLOR: #eee
}
#lightbox #lightboxDetails {
	FONT-SIZE: 14px; PADDING-TOP: 0.4em
}
#lightbox #lightboxCaption {
	FLOAT: left
}
#lightbox #keyboardMsg {
	FLOAT: right
}
#lightbox #keyboardMsg A {
	FONT-SIZE: 0.8em; COLOR: #555555; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
#lightbox IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#overlay IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#overlay {
	BACKGROUND: #000; FILTER: alpha(opacity=70); opacity: 0.7
}
#lightbox #closeButton {
	RIGHT: 10px; BORDER-LEFT: white 5px solid; TOP: 10px
}
#lightbox2 {
	Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 0; POSITION: absolute; TOP: 40px; TEXT-ALIGN: center
}
#lightbox2 A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#lightbox2 #outerImageContainer {
	MARGIN: 0px auto; WIDTH: 250px; POSITION: relative; HEIGHT: 250px; BACKGROUND-COLOR: #fff
}
#lightbox2 #imageContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#lightbox2 #loading {
	LEFT: 0%; WIDTH: 100%; LINE-HEIGHT: 0; POSITION: absolute; TOP: 40%; HEIGHT: 25%; TEXT-ALIGN: center
}
#lightbox2 #hoverNav {
	Z-INDEX: 10; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
UNKNOWN {
	LEFT: 0px
}
#lightbox2 #hoverNav A {
	outline: none
}
#lightbox2 #prevLink {
	DISPLAY: block; BACKGROUND: url(../images/blank.gif) no-repeat; WIDTH: 49%; HEIGHT: 100%
}
#lightbox2 #nextLink {
	DISPLAY: block; BACKGROUND: url(../images/blank.gif) no-repeat; WIDTH: 49%; HEIGHT: 100%
}
#lightbox2 #prevLink {
	LEFT: 0px; FLOAT: left
}
#lightbox2 #nextLink {
	RIGHT: 0px; FLOAT: right
}
#lightbox2 #prevLink:hover {
	BACKGROUND: url(../../libraries/lightbox202/images/prevlabel.gif) no-repeat left 15%
}
#lightbox2 #prevLink:hover {
	BACKGROUND: url(../../libraries/lightbox202/images/prevlabel.gif) no-repeat left 15%
}
#lightbox2 #nextLink:hover {
	BACKGROUND: url(../../libraries/lightbox202/images/nextlabel.gif) no-repeat right 15%
}
#lightbox2 #nextLink:hover {
	BACKGROUND: url(../../libraries/lightbox202/images/nextlabel.gif) no-repeat right 15%
}
#lightbox2 #imageDataContainer {
	MARGIN: 0px auto; FONT: 10px/1.4em Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
#lightbox2 #imageData {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#lightbox2 #imageData #imageDetails {
	FLOAT: left; WIDTH: 50%; COLOR: #000; TEXT-ALIGN: left
}
#lightbox2 #imageData #caption {
	FONT-WEIGHT: bold
}
#lightbox2 #imageData #numberDisplay {
	CLEAR: left; DISPLAY: block; PADDING-BOTTOM: 1em
}
#lightbox2 #imageData #bottomNavPrev {
	FLOAT: right; PADDING-BOTTOM: 0.7em; WIDTH: 20px
}
#lightbox2 #imageData #bottomNavPrev IMG {
	DISPLAY: block; MARGIN: 3px auto 0px
}
#lightbox2 #imageData #bottomNavNext {
	FLOAT: right; PADDING-BOTTOM: 0.7em; WIDTH: 20px
}
#lightbox2 #imageData #bottomNavNext IMG {
	DISPLAY: block; MARGIN: 3px auto 0px
}
#lightbox2 #imageData #bottomNavClose {
	FLOAT: right; PADDING-BOTTOM: 0.7em; MARGIN: 0px 0px 0px 10px; WIDTH: 66px
}
#lightbox2-overlay {
	Z-INDEX: 90; FILTER: alpha(opacity=60); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 500px; BACKGROUND-COLOR: #000; opacity: 0.6; moz-opacity: 0.6
}
#lightbox2 .clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
UNKNOWN {
	DISPLAY: inline-block; WIDTH: 100%
}
 HTML #lightbox2 .clearfix {
	HEIGHT: 1%
}
EM {
	POSITION: relative
}
.product-block {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 7px! important; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 7px! important; PADDING-BOTTOM: 7px! important; BORDER-LEFT: #cccccc 1px solid; WIDTH: 168px! important; PADDING-TOP: 7px! important; BORDER-BOTTOM: #cccccc 1px solid
}
.product-block-inner {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px auto; BORDER-LEFT: #cccccc 1px solid; WIDTH: 164px! important; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 120px! important
}
.product-block .product-title {
	FONT-WEIGHT: bold! important; FONT-SIZE: 11px! important; MARGIN: 0px
}
.product-block .product-image {
	WIDTH: 164px! important; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; HEIGHT: 120px! important; BORDER-BOTTOM-STYLE: none! important
}
.product-block-price {
	MIN-HEIGHT: 20px! important; FLOAT: left! important
}
.product-block .product-price {
	FLOAT: left! important
}
.product-block SPAN.product-price {
	FLOAT: none! important
}
.product-block .product-button {
	FLOAT: right! important; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product-large {
	
}
.product-large .product-title {
	FONT-WEIGHT: bold! important; FONT-SIZE: 20px! important; MARGIN: 0px 0px 5px
}
.product-large .product-description {
	
}
.product-large .product-image {
	FLOAT: left! important; MARGIN: 0px 10px 10px 0px; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product-large-price {
	FONT-WEIGHT: bold! important; FONT-SIZE: 14px! important; MARGIN: 10px 0px
}
.product-large .product-price {
	FLOAT: left! important
}
.product-large SPAN.product-price {
	FLOAT: none! important
}
.product-large .product-button {
	BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product-small {
	
}
.product-small .product-title {
	FONT-WEIGHT: bold! important; FONT-SIZE: 16px! important; MARGIN: 0px 0px 3px
}
.product-small .product-description {
	
}
.product-small .product-image {
	FLOAT: left! important; MARGIN: 0px 10px 10px 0px; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product-small-price {
	FONT-WEIGHT: bold! important; FONT-SIZE: 12px! important; FLOAT: left! important; MARGIN: 6px 0px
}
.product-small .product-price {
	FLOAT: left! important
}
.product-small SPAN.product-price {
	FLOAT: none! important
}
.product-small .product-button {
	FLOAT: right! important; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product-long {
	BORDER-RIGHT: #efefef 1px solid; PADDING-RIGHT: 15px! important; BORDER-TOP: #efefef 1px solid; PADDING-LEFT: 15px! important; MARGIN-BOTTOM: 15px! important; PADDING-BOTTOM: 15px! important; BORDER-LEFT: #efefef 1px solid; PADDING-TOP: 15px! important; BORDER-BOTTOM: #efefef 1px solid;
	background-image:url(item.png);
	background-repeat:no-repeat;
}
.product-long .product-title {
	FONT-WEIGHT: bold! important; FONT-SIZE: 20px! important; MARGIN: 0px 0px 20px
}
.product-long .product-description {
	
}
.product-long-detail {
	BORDER-RIGHT: #cdcdcd 1px solid;
	PADDING-RIGHT: 15px! important;
	BORDER-TOP: #cdcdcd 1px solid;
	PADDING-LEFT: 15px! important;
	FLOAT: right! important;
	PADDING-BOTTOM: 3px! important;
	MARGIN-LEFT: 10px! important;
	BORDER-LEFT: #cdcdcd 1px solid;
	WIDTH: 155px! important;
	LINE-HEIGHT: normal! important;
	PADDING-TOP: 3px! important;
	BORDER-BOTTOM: #cdcdcd 1px solid
}
.product-long .product-image {
	FLOAT: left! important; MARGIN: 0px 10px 10px 0px; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product-long-price {
	FONT-WEIGHT: bold! important;
	FONT-SIZE: 16px! important;
	MARGIN: 10px 0px;
	color: #000;
}
.product-long .product-price {
	FLOAT: left
}
.product-long SPAN.product-price {
	FLOAT: none! important
}
.product-long .product-button {
	BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.paypal-pixel {
	BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.product {
	MARGIN-BOTTOM: 10px! important
}
#weebly-menus .weebly-menu-wrap {
	Z-INDEX: 5000
}
#weebly-menus .weebly-menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#weebly-menus .weebly-menu LI {
	CLEAR: left; FLOAT: left; WIDTH: 170px; TEXT-ALIGN: left
}
#weebly-menus .weebly-menu LI A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 13px; BACKGROUND: #f9f9f8; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; COLOR: #000; LINE-HEIGHT: 1; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; TEXT-DECORATION: none
}
#weebly-menus .weebly-menu LI A:hover {
	BACKGROUND: #e3e3e3
}
#weebly-menus SPAN.weebly-menu-title {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#weebly-menus SPAN.weebly-menu-more {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; RIGHT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 28px; PADDING-TOP: 5px; FONT-FAMILY: Courier; POSITION: absolute; TOP: 0px; HEIGHT: 28px
}
HTML BODY .galleryImageBorder {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #aaa; BORDER-BOTTOM-STYLE: solid
}
HTML BODY A .galleryImageBorder {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #aaa; BORDER-BOTTOM-STYLE: solid
}
HTML BODY .galleryImageBorderBlack {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000; BORDER-BOTTOM-STYLE: solid
}
HTML BODY A .galleryImageBorderBlack {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000; BORDER-BOTTOM-STYLE: solid
}
.imageGallery {
	WIDTH: 100%
}
.blog-body {
	WIDTH: 100%
}
#blog-content .imageGallery {
	WIDTH: 101%
}
.weebly-form-field {
	CLEAR: both
}
.weebly-form-field SELECT {
	HEIGHT: 25px
}
.weebly-form-label {
	FONT-WEIGHT: bold
}
.weebly-form-sublabel {
	DISPLAY: block; FONT-SIZE: 11px; PADDING-BOTTOM: 5px! important
}
.weebly-form-left {
	FLOAT: left
}
.weebly-form-right {
	FLOAT: right
}
.weebly-form-input {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 4px! important; BORDER-TOP: #7c7c7c 1px solid; PADDING-LEFT: 4px! important; BACKGROUND: url(form_input_bg.gif) #ffffff repeat-x center top; PADDING-BOTTOM: 4px! important; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 4px! important; BORDER-BOTTOM: #dddddd 1px solid
}
.formlist {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; MIN-HEIGHT: 100px; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important
}
.form-input-error {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BORDER-RIGHT-COLOR: red
}
.form-not-required {
	DISPLAY: none
}
.form-required {
	DISPLAY: inline; COLOR: red
}
.form-radio-container {
	DISPLAY: block; MARGIN: 5px 0px 7px
}
.form-radio-container INPUT {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.instructions-container {
	BORDER-RIGHT: #f7941c 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f7941c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 14px; Z-INDEX: 10; BACKGROUND: #feefda; PADDING-BOTTOM: 10px; BORDER-LEFT: #f7941c 1px solid; WIDTH: 185px; CURSOR: pointer; PADDING-TOP: 10px; BORDER-BOTTOM: #f7941c 1px solid; POSITION: absolute
}
.form-field-error .weebly-form-radio-container {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-LEFT: red 1px solid; BORDER-BOTTOM: red 1px solid
}
